<div class='container mb-4'>
  <div class="row justify-content-center">
    <div class="col-12" >
      <div class="row" >
        <div class="col" >
          <%= attachment_image_tag @ideafind, :image, size: "500x500", fallback: "no_idea_image.jpg" %>
        </div>
        <div class="col" >
          <h1><%= @ideafind.idea %></h1>
          <div>
            <% if @ideafind.favorited_by?(current_user) %>
              <h5>
                <%= link_to idea_favorites_path(@ideafind), class: "link-white btn btn-danger", method: :delete do %>
                  <span class="fas fa-heart"><%= @ideafind.favorites.count %>件のいいね</span>
                <% end %>
              </h5>
            <% else %>
                <h5>
                  <%= link_to idea_favorites_path(@ideafind), class: "link-white btn btn-danger", method: :post do %>
                    <span class="fas fa-heart"> いいね</span>
                  <% end %>
                </h5>
            <% end %>
          </div>
          <hr>
          <h5 class="text-bold">User name</h5>
          <div class="row" >
            <div class="col-3 text-center" >
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag(@user, :profile_image, size: "60x60", fallback: "no_image.jpg") %>
              <% end %>
            </div>
            <div class="col-5 text-left my-auto" >
              <%= link_to user_path(@user), class: "link-black text-30" do %>
                <%= @ideafind.user.name %>
              <% end %>
            </div>
            <div class="col-4 text-right my-auto">
              <% if @ideafind.user == current_user %>
              <% else %>
                <% if current_user.following?(@ideafind.user) %>
                  <%= link_to "フォロー中", user_relationships_path(@ideafind.user), method: :delete, class: "btn btn-primary" %>
                <% else %>
                  <%= link_to "フォロー", user_relationships_path(@ideafind.user), method: :post, class: "btn btn-success" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <hr>
          <h5 class="text-bold">コメント</h5>
          <div class="text-20"><%= @ideafind.body %></div>
          <hr>
          <div class="mb-3">
            <h5 class="text-bold">Pinterestボードリンク</h5>
          </div>
          <div class="row" >
            <div class="col-7 text-left my-auto" >
              <a href="<%= @ideafind.url %>"target="_blank" rel="noopener noreferrer" >
                <span class="fab fa-pinterest-square text-20 link-black"> <%= @ideafind.url %></span>
              </a>
            </div>
            <div class="col-5 text-right my-auto">
              <a href="https://www.pinterest.jp/"target="_blank" rel="noopener noreferrer" class="link-white btn btn-danger btn-sm" >
                <span>Pinterestはこちら</span>
              </a>
            </div>
          </div>
          <hr>
          <% if @ideafind.user_id == current_user.id %>
            <div class="button">
              <span class="mr-2">
                <%= link_to edit_idea_path(@ideafind), class: "link-white btn btn-success" do %>
                  <span class="fas fa-edit"> 編集</span>
                <% end %>
              </span>
              <span>
                <%= link_to idea_path(@ideafind), class: "link-white btn btn-danger", method: :delete, data: { confirm: '本当に消しますか？' } do %>
                  <span class="fas fa-trash-alt"> 削除</span>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


