<div class='container'>
  <div class="row justify-content-center">
    <div class="col-12" >
      <div class="row" >
        <div class="col" >
          <%= attachment_image_tag @ideafind, :image, size: "500x500", fallback: "no_idea_image.jpg" %>
        </div>
        <div class="col" >
          <h1><%= @ideafind.idea %></h1>
          <div>
            <% if @ideafind.favorited_by?(current_user) %>
              <h5>
                <%= link_to idea_favorites_path(@ideafind), class: "link-red", method: :delete do %>
                  <span class="fas fa-heart"><%= @ideafind.favorites.count %>件のいいね</span>
                <% end %>
              </h5>
            <% else %>
                <h5>
                  <%= link_to idea_favorites_path(@ideafind), class: "link-red", method: :post do %>
                    <span class="fas fa-heart">いいね</span>
                  <% end %>
                </h5>
            <% end %>
          </div>
          <hr>
          <%= link_to user_path(@ideafind.user), class: "link-black" do %>
            <%= attachment_image_tag(@ideafind.user, :profile_image, size: "60x60", fallback: "no_image.jpg") %>
          <% end %>
          <%= link_to user_path(@ideafind.user), class: "link-black text-30 ml-4" do %>
            <%= @ideafind.user.name %>
          <% end %>
          <hr>
          <div class="text-20"><%= @ideafind.body %></div>
          <hr>
          <div>
            <h5>Pinterest</h5>
            <a href=<%= @ideafind.url %> >
              <span class="fab fa-pinterest-square text-20 link-black"> <%= @ideafind.url %></span>
            </a>
          </div>
          <hr>
          <% if @ideafind.user_id == current_user.id %>
            <div class="button">
              <span class="mr-2">
                <%= link_to edit_idea_path(@ideafind), class: "link-green" do %>
                  <span class="fas fa-edit">編集</span>
                <% end %>
              </span>
              <span>
                <%= link_to idea_path(@ideafind), class: "link-red", method: :delete, data: { confirm: '本当に消しますか？' } do %>
                  <span class="fas fa-trash-alt">削除</span>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


