<div class='container'>
  <div class='row'>
    <div class="col-md-4 offset-md-4 text-center">
      <h4 class="text-bold">新規登録</h4>
      <hr>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3">
          <h6>Email</h6>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mb-3">
          <h6 class="text-bold">パスワード</h6>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-1">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions mb-3">
          <%= f.submit "ログイン", class:"btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      <hr>
    </div>
  </div>
</div>
