<!DOCTYPE html>
<html>
  <head>
    <title>PORTFOLIO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
          <nav class="nav navbar-left">
            <% if user_signed_in? %>
              <%= link_to ideas_path, class:"btn btn-link text-white" do %>
                <span>Idea Bank</span>
              <% end %>
            <% else %>
              <%= link_to root_path, class:"btn btn-link text-white" do %>
                <span>Idea Bank</span>
              <% end %>
            <% end %>
          </nav>
          <nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li>
                    <%= link_to ideas_path, class:"btn btn-link text-white" do %>
                    <span class="fas fa-home"> Home</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_idea_path, class:"btn btn-link text-white" do %>
                    <span class="fas fa-lightbulb"> Create idea</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to user_path(current_user), class:"btn btn-link text-white" do %>
                    <span class="fas fa-lightbulb"> My idea</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link text-white" do %>
                    <span class="fas fa-sign-out-alt"> Logout</span>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to home_about_path, class:"btn btn-link text-white" do %>
                    <span class="fas fa-link"> About</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_registration_path, class:"btn btn-link text-white" do %>
                    <span class="fas fa-user-plus"> Sign up</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_session_path, class:"btn btn-link text-white" do %>
                    <span class="fas fa-sign-in-alt"> Login</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </nav>
      <div class="mb-4">
        <p class="notice"><%= notice %></p>
      </div>
    </header>

    <%= yield %>

    <footer class="mt-4">
        <div class="row bg-dark">
          <div class="mx-auto text-white">
              <p class="mt-3">IdeaBank created by K.Kanayama</p>
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
